<div id="home-footer">
    <div id="footer-links">
        <div class="wrapper-default">
            <ul id="home-foot-menu" class="inline">
                <li><a href="javascript:void(0);">About Us</a></li>
                <li><a href="javascript:void(0);" open-page-popup page="terms">Terms &amp; Conditions</a></li>
                <li><a href="javascript:void(0);" open-page-popup page="privacy">Privacy Policy</a></li>
                <li><a href="javascript:void(0);">News</a></li>
                <li><a href="javascript:void(0);">Sitemap</a></li>
                <li><a href="#!/contact">Contact Us</a></li>
                <li><a target="_blank" href="http://support.receiptclub.com/hc/en-us">Help</a></li>
                <li>Copyright &copy; ReceiptClub, Inc. 2013. All Rights Reserved</li>
            </ul>
        </div>
    </div>
</div>