<div id="receipt-box-text">
    <span class="title">Receipt<br>Box</span>
    <p class="content">ReceiptBox is the heart of the ReceiptClub system.  It's a repository where you store your receipts and invoices be they paper, email, or digital; then, when you have time, sort, edit and organize them, then categorize purchased items into our world-class array of expense management applications; get a complete picture of your spending with our analytics.
    <br><br>Snap and upload your receipts quickly and easily to your ReceiptBox with your device's camera or webcam; or email images of your receipts to <span class="bluesky"> receipts@receiptclub.com</span>; or forward your email receipts from various e-commerce stores, airlines, hotels, car rental companies and more.
    <br><br>Use the images of your receipts in the cloud in lieu of paper receipts and invoices for warranties, store returns, or tax deductions – acceptable in most cases by merchants and authorities.
    <br><br>Experience the magic of our world-class ReceiptClub Optical Character Recognition Engine (ROCR), ReceiptClub Image Processing Engine (RIPE), and ReceiptClub Automated Data Entry (RADE).  These three technologies combined give you the unique ability to convert conventional receipts into beautiful digital receipts in both image and extracted text; not to mention, offer you infinite possibilities in the realm of discounts, coupons, social commerce and even affiliate fees.
    <br><br>RIPE can process a receipt image of almost any length or quality, whether at an angle, sideways, or upside down; so long as the entire receipt is captured clearly, RIPE will chop, crop, deskew, rotate, flip, binarize, grayscalize, resize it, and pop it into your receipt panel with a crisp, clean, zoomable, movable, printable image. Nobody does it better!
    <br>
    <br><br>ROCR is one of the best Optical Character Recognition engines designed specifically for extracting contents of receipt and invoice images; it passes this extracted text to RADE for automated data entry.
    <br><br>RADE takes the extracted text from ROCR and performs automated data entry by mapping the receipt contents to a uniform digital receipt format. This process is never perfect, but RADE uses machine learning and artificial intelligence, so that over a period of time, it will learn to auto-categorize items based on your own categorization habits.

</div>
<div id="credit-cards-text">
    <span class="title">Credit<br>Cards</span>
    <p class="content">
        With the credit card application, upload your credit card statement data to your ReceiptClub account in QBO or excel file formats.  The application will automatically match receipts in your ReceiptBox to each of the statement items and will also automatically categorize items based on your previous categorization habits.  If no matching receipt is found, credit card application will automatically create a receipt entry in your ReceiptBox ready for you to verify and categorize.
        <br><br>
        When used with the bank statement app, match credit card expenses with corresponding debits on your bank statement, and have a complete view of each transaction, including expense category, amount, and date of transaction in the business expense application.  Make reconciliation a snap.
    </p>
</div>
<div id="bank-accounts-text">
    <span class="title">Bank<br>Accounts</span>
    <p class="content">
        Reconcile your expenses in any of our expense applications with line items on your bank statement.  Simply upload your statement into the bank statement app, and watch as the app magically matches receipts with statement items, and also automatically categorizes your expenses based on your habits.
        <br><br>
        The bank application provides powerful referencing tools, matching each line item with an invoice or receipt as well as showing the category in which that expense is classified.  When viewing an expense item in your expense applications, it will also tell you which statement that particular expense item belongs to – amazing.
        <br><br>
        If no matching receipt is found, ReceiptClub will automatically create a ‘receipt' entry in your ReceiptBox, ready for you to categorize.
        <br><br>
        Keeping track of your expenses has never been easier.
    </p>
</div>
<div id="personal-expense-text">
    <span class="title">Personal<br>Expense</span>
    <p class="content">
        Categorize information stored on your personal expense receipts; upload pictures of warranty cards, set reminders for return policy expiry and make notes about the items you have bought.
        <br><br>
        Keep track of all of your receipts, in a comprehensive and clutter free system, and because we store the information in the cloud, you can access any of them instantly!
        <br><br>
        Use our comprehensive set of predefined categories, or create your own whenever you want.
        <br><br>
        Receive deals, and ads based on the items you buy and store in your PersonalExpense app.  Receive discounts and offers which are relevant, personalized and appropriate for you.
        <br><br>
        Powerful reporting tools allow you to track and monitor your expenses in an easy to see and graphical format.  Our analytics allow you to view your personal expenses in pie, bar and trend chart formats.
    </p>
</div>
<div id="personal-assets-text">
    <span class="title">Personal<br>Assets</span>
    <p class="content">
        Keep track of tangible personal possessions, durable goods and large-ticket items, which cannot be considered expenses.
        <br><br>
        Inventory valuable assets in your house, including jewelry, electronics, appliances, furniture, paintings, antiques, heirlooms, automobiles, tractors, trucks, trailers, motor homes, boats, yachts, and even real estate.
        <br><br>
        Upload photos of items along with receipt images, documents such as warranty, registration, serial numbers, and receipt images. Create an asset register for setting up insurance policies for your house; make annual adjustments to those policies easily; stay ready to provide appropriate information instantly when making insurance claims for fire, theft, or natural disaster.
    </p>
</div>
<div id="travel-expense-text">
    <span class="title">Travel<br>Expense</span>
    <p class="content">
        Keep track of travel expenses for transportation, lodging, meals, communications, business entertainment or any other expenses relevant to your business trips.
        <br><br>
        Submit your travel expense reports with ease, whether for single or multiple trips. Managers can quickly review and approve travel expenses.  View, edit, and report these expenses from your mobile device or web application.
        <br><br>
        Export your travel expenses information in a format compatible with your company's requirements (customization required), or use our standard templates.
    </p>
</div>
<div id="business-expense-text">
    <span class="title">Business<br>Expense</span>
    <p class="content">
        Keep track of your business expenses using our powerful business expense application, featuring world class business expense categories and the ability to define your own.  Track bill payments, and payables.   Enjoy this full-featured expense tracking system within the context of social commerce; ‘join forces' with other business owners who are looking to make purchases similar to yours, co-ordinate the group purchase, and negotiate a better deal as a result.  You can also research and find verified product reviews from buyers of products prior to making your purchases.
        <br><br>
        Use the business expense application in combination with the bank and credit card applications to give you a comprehensive view of all of your financial data.  Analyze, track and control your expenses using our powerful analytic tools, then when you are ready, export your data to Quicken, FreshBooks or other popular business accounting systems.  You can also send comprehensive reports to your accountant, which provide a complete picture of your financial data, including the expense item description, category, and amount.
    </p>
</div>
<div id="mobile-apps-text">
    <span class="title">Mobile<br>Apps</span>
    <p class="content">
        ReceiptClub currently has an Android app, which allows you to access the powerful suite of web-applications right from your mobile phone!  Using the app you can capture and upload pictures, categorize the resulting digital receipts, and even create and submit expense reports.  In the future, our app will allow you to make payments at merchant points of sale, and automatically receive and process receipts in real time.  You will also be able to pay for purchases at participating retailers with your mobile phone.
    </p>
</div>
