<!-- Modal -->
<div id="modalBoxItem" class="modal modal-info modal-item hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <h4 id="myModalspan">More Item Details</h4>
        <button class="app-icon icon-box-close-window pull-right" data-dismiss="modal" aria-hidden="true"></button>
    </div>
    <div class="item-head-info">
        <div class="hi-block-left">
            <span class="bluesky bold">ITEM NAME: </span>
            <span class="grey bold">PET HANDBAGS</span>
        </div>
        <div class="hi-block-right">
            <span class="bluesky bold">AMOUNT: </span>
            <span class="grey bold">12.00 USD</span>
        </div>
    </div>
    <div class="modal-body">
        <form action="">
            <div class="mb-block-left">
                <div class="form-inline">
                    <span class="checkbox bold">Memo</span>
                    <div class="align-right">
                        <textarea placeholder="Enter your memo" style="width: 250px; height: 41px"></textarea>
                    </div>
                </div>
                <div class="rows-wrapper">
                    <!--<div class="form-inline">-->
                        <!--<span class="checkbox bold">Tags</span>-->
                        <!--<input type="text" style="width: 220px">-->
                    <!--</div>-->
                    <div class="form-inline">
                        <span class="checkbox bold">Return Expiration Date</span>
                        <input type="text" style="width: 121px">
                    </div>
                    <div class="form-inline">
                        <span class="checkbox bold">Manufacturer/Provider</span>
                        <input type="text" style="width: 120px">
                    </div>
                    <div class="form-inline">
                        <span class="checkbox bold">Warranty Registration Date</span>
                        <input type="text" style="width: 94px">
                    </div>
                    <div class="form-inline">
                        <span class="checkbox bold">Warranty Expiration Date</span>
                        <input type="text" style="width: 106px">
                    </div>
                    <div class="form-inline">
                        <span class="checkbox bold">Insurance Details</span>
                        <input type="text" style="width: 149px">
                    </div>
                    <div class="form-inline">
                        <span class="checkbox bold">Tax-Deductible</span>
                        <i class="app-icon icon-checkbox-sqr"></i>
                        <input type="text" style="width: 145px" placeholder="Memo">
                    </div>
                    <div class="form-inline">
                        <span class="checkbox bold">Tax Code</span>
                        <input type="text" style="width: 195px">
                    </div>
                    <div class="form-inline">
                        <span class="checkbox bold">General Ledger Code</span>
                        <input type="text" style="width: 128px">
                    </div>
                    <div class="form-inline">
                        <span class="checkbox bold">Cost Center</span>
                        <input type="text" style="width: 181px">
                    </div>
                </div>

                <div class="rows-wrapper small-inputs">
                    <div class="form-inline">
                        <span> UNSPSC </span>
                        <input type="text" style="width: 206px"><br>
                        <em> United Nations Standard Products and Services Code </em>
                    </div>
                    <div class="form-inline">
                        <span> GPC </span>
                        <input type="text" style="width: 226px"><br>
                        <em> Global Product Classification Code </em>
                    </div>
                    <div class="form-inline">
                        <span> GTIN </span>
                        <input type="text" style="width: 224px"><br>
                        <em> Global Trade Item Number </em>
                    </div>
                    <div class="form-inline">
                        <span> SKU </span>
                        <input type="text" style="width: 226px"><br>
                        <em> Stock Keeping Unit Code </em>
                    </div>
                </div>
            </div>
            <div class="mb-block-right">
                <div class="form-inline item-picture">
                    <i class="app-icon icon-checkbox-sqr"></i>
                    <img src="images/sample-item-picutre.jpg">
                </div>
                <div class="rows-wrapper">
                    <div class="form-inline">
                        <span class="checkbox bold"><i class="app-icon icon-checkbox-sqr"></i> Item Description </span>
                        <input type="text" style="width: 162px">
                    </div>
                    <div class="form-inline">
                        <span class="checkbox bold"><i class="app-icon icon-checkbox-sqr"></i> Merchant </span>
                        <input type="text" style="width: 201px">
                    </div>
                    <div class="form-inline">
                        <span class="checkbox bold"><i class="app-icon icon-checkbox-sqr"></i> Original Price </span>
                        <input type="text" style="width: 176px">
                    </div>
                    <div class="form-inline">
                        <span class="checkbox bold"><i class="app-icon icon-checkbox-sqr"></i> Sale Price </span>
                        <input type="text" style="width: 195px">
                    </div>
                    <div class="form-inline">
                        <span class="checkbox bold"><i class="app-icon icon-checkbox-sqr"></i> Purchase Link </span>
                        <input type="text" style="width: 173px">
                    </div>
                    <div class="form-inline">
                        <span class="checkbox bold"><i class="app-icon icon-checkbox-sqr"></i> Merchant Coupon Code </span>
                        <input type="text" style="width: 123px">
                    </div>
                    <div class="form-inline">
                        <span class="checkbox bold"><i class="app-icon icon-checkbox-sqr"></i> Manufacturer Coupon Code </span>
                        <input type="text" style="width: 100px">
                    </div>
                </div>
                <div class="form-inline">
                    <span class="checkbox bold"><i class="app-icon icon-checkbox-sqr"></i> Rate: </span>
                    <i class="app-icon icon-rate-star"></i>
                    <i class="app-icon icon-rate-star"></i>
                    <i class="app-icon icon-rate-star"></i>
                    <i class="app-icon icon-rate-star"></i>
                    <i class="app-icon icon-rate-star-empty"></i>
                </div>
                <div class="form-inline">
                    <span class="checkbox bold"><i class="app-icon icon-checkbox-sqr"></i> Review: </span>
                    <div class="align-right">
                        <textarea placeholder="Enter your review" style="width: 257px; height: 40px"></textarea>
                    </div>
                </div>
                <div class="form-inline">
                    <i class="app-icon icon-checkbox-sqr" style="vertical-align: top"></i>
                    <textarea class="small-placeholder" placeholder="I thought you might like to know what I just bought..." style="width: 258px; height: 20px"></textarea>
                    <div class="line-share">
                        <span class="grey"> Share selected information with friends! </span><br>
                        <i class="app-icon icon-share-f"></i>
                        <i class="app-icon icon-share-t"></i>
                        <i class="app-icon icon-share-p"></i>
                        <i class="app-icon icon-share-g"></i>
                    </div>
                </div>
            </div>
        </form>
        <div class="buttons-wrapper">
            <button class="btn-alert" data-dismiss="modal" aria-hidden="true">OK</button>
        </div>
    </div>
</div>
