<div class="footer">
    <div class="text-footer">
        <div class="copyright">© ReceiptClub, Inc. 2014. All Rights Reserved</div>
        <div class="share">
            <a class="twitter" target="_blank" href="http://twitter.com"></a>
            <a class="facebook" target="_blank" href="http://facebook.com"></a>
            <a class="pinterest" target="_blank" href="http://pinterest.com"></a>
            <a class="google" target="_blank" href="http://plus.google.com"></a>
        </div>
        <div class="condition">About Us | Contact Us | <a href="" ng-click="openTermsConditions(true)">Terms & Conditions</a> | <a href="" ng-click="openTermsConditions(false)">Privacy Policy</a></div>
    </div>
</div>