<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<div class="wrapper" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="content-maintenance" ng-controller="HomeCtrl">
        <p class="big-title">ReceiptClub.com is undergoing scheduled maintenance.<br/>
            Sorry for the inconvenience</p>
        <p class="clock-countdown" id="clock-countdown"></p>
    </div>
</div>

    
