<h4>ReceiptClub Privacy Policy</h4>
<p>
    Effective: 12th  November 2013<br/>Last Modified: 12th November 2013
</p>

<p>
    ReceiptClub Inc. ("RCI" or "We" or "Us") provides a complete range of expense, spend and asset management applications for individuals and businesses across the world and facilitates the management, retention, compilation and processing of receipts and invoices in their various forms (physical or electronic) in both digital text and image formats which are transferred via the internet for processing by our systems, personnel and contractors.
    We also offer users the ability to share information regarding their purchases, provide reviews, and receive coupons and deals.
    Any registered user may access these applications, either via the website www.receiptclub.com ("Site" or "Sites") or by downloading our applications for mobile devices (together "Service" or "Services" or "RC Service")
</p>

<p>
    This Privacy Policy describes how and when ReceiptClub collects, uses and shares your information when you use the Site.
    ReceiptClub receives your information through our Sites, SMS, APIs, email notifications, applications, buttons, widgets, and ads and from our partners and other third parties.
    For example, you send us information when you use an application on our website, via SMS, email or other method to enter a receipt, or comment in a forum on our Site.
</p>

<p>
    By accessing and using any of our Services you consent to the collection, transfer, manipulation, storage, disclosure and other uses of your information as described in this Privacy Policy.
    Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at <a href="www.receiptclub.com/tos">www.receiptclub.com/tos</a>
</p>

<p>
    Regardless of which country you reside in or supply information from, you authorize RCI to use your information in any other country where RCI operates, including but not limited to Canada, and the United States
</p>

<p>
    If you have any questions or comments about this Privacy Policy, please contact us via our support center or contact us here
</p>

<h4>Information we collect</h4>

<p>
    We collect information from you in different ways.  We will collect information from you directly, such as when you sign up for an account or take a survey on our Site.  We will also collect information relating to your purchases when you email or upload a receipt, or image of a receipt to our site.  When you visit our Sites, some information is automatically collected as happens most commonly when visiting websites on your computer.  We may also receive information from other sources, and combine that with our own information on you.
</p>

<p>
    We collect the following personal information from you<br/>
    <ul>
        <li>Contact Information such as name, email address, mailing address, phone number</li>
        <li>Unique Identifiers such as user name, account number, password</li>
        <li>Preferences Information such as product wish lists, order history, marketing preferences</li>
        <li>Information relating to your computer such as your IP address, browser type, referring/exit pages, and operating system</li>
        <li>Bank and credit card information, where such information is provided for use in an application to reconcile your credit card or bank charges</li>
        <li>Bank and credit card information where Services are bought or used through our Site to complete the transaction, such as making a purchase via our online store</li>
        <li>Demographic information</li>
        <li>Information relating to how you use our Site such as how much time you spend there, and which pages you use most frequently</li>
        <li>If you connect your RC account to a third party service in order to allow RC to post reviews or comments on that service, the other service may send us your registration or profile information as listed on that service and other information that you authorize</li>
    </ul>
</p>

<h4>We use this information to</h4>

<p>
    <ul>
        <li>Communicate with you to determine your satisfaction with our service, and to enhance and personalize our products and marketing efforts</li>
        <li>Communicate with you to provide information you have requested such as product updates, security alerts, administrative messages, warranty information and return policy expiration dates</li>
        <li>Respond to your service requests, comments or queries</li>
        <li>Provide you more relevant and targeted ads and coupons</li>
        <li>Send you a newsletters, or marketing and other communications</li>
        <li>Process and deliver contest entries and rewards, loyalty points and club points</li>
        <li>Conduct research and analysis</li>
        <li>Provide our clients / vendors with non-identifying aggregate information</li>
        <li>We may share information you provide us, including financial information for transactions with our agents or third party service subject to confidentiality obligations and conditional upon their use of this information on our behalf and pursuant to our instructions – such as making a purchase on our Amazon store</li>
        <li>Combine our data about you with data from third parties to understand your needs and provide you with better Services.</li>
    </ul>
</p>

<h4>Methods of Collection:</h4>

<p>RC uses many standard technologies to help us collect information including:</p>
<p>
    <i>Cookies</i>:  We may automatically collect information using cookies, which are small data files stored on your hard drive by our (and many other) web sites.  Cookies do not identify users, but commonly identify the user’s computer.   We use cookies to save information regarding your use of the site and to help things run smoothly for example, by allowing you to ‘add an item’ to your shopping cart.  We use also use cookies to keep your login information, save language and theme preferences and similar settings to make your browsing experience better.  You can change the settings in your browser to disallow the use of cookies, however it may impair the functionality of our Services making them unavailable to you for use.
</p>
<p>
    <i>Other tracking technologies</i>:  We also store information on your computer that is directly related to the Services you use such as receipt data.  This information is directly associated with your account and cannot be used by anyone else for any reason.
</p>

<h4>Protecting your privacy (Disclosure of Information)</h4>
<p>RCI will always ensure the security and privacy of your information and will share information if:</p>
<p>
    <ul>
        <li>We are required by law to provide the information to comply with a subpoena or similar legal proceeding</li>
        <li>There is any other legal or governmental requirement or request to do so</li>
        <li>When we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, or to investigate fraud</li>
        <li>You provide your consent to do so such as when you authorize a third-party web client or application to access your RC account</li>
        <li>If RCI is involved in a business transfer of all or part of our business such as bankruptcy, merger or acquisition, reorganization or sale of assets, your information may be sold or transferred as part of that transfer. The promises in this Privacy Policy will apply to the information transferred to the new entity</li>
        <li>The third party is an authorized agent, contractor or service provider or business partner to RCI (such as software developers or network providers), and they have agreed to uphold the promises in this Privacy Policy,</li>
        <li>It is shared in an aggregated form that does not directly identify you</li>
        <li>You have not opted out of sharing your information in ways unrelated to the ones described above</li>
        <li>You have provided information in a public forum or community page</li>
    </ul>
</p>
<p>
    Nothing in this privacy policy is intended to place limitation on your right to seek legal defenses or objections to a third party’s request (including government) to disclose your information.
</p>

<h4>Changes to your Information and Preferences</h4>

<p>As a registered user, you have access to your account settings and profile as long as you have access to the internet and can login to our website.</p>
<p>You can correct or otherwise modify your information in these areas, and the changes will take place immediately.  You can also permanently delete your account by following the instructions here.  Your account will be suspended for a 'cooling off' period of 30 days, during which time all data you have entered will be available and can be re-instated should you choose to resume use of your account.  After 30 days, your account will be permanently and irrevocably deleted from our servers, never to be seen again.</p>

<h4>Security</h4>

<p>The security of your personal information is extremely important to us.  When you enter sensitive information such as credit card or bank information, we will encrypt and transmit the information using secure socket layer technology (SSL).  </p>

<p>We follow commercially accepted industry standards to protect your information, both during the transmission and once we receive it.  However no security system can be guaranteed to be 100% secure.  Accordingly we cannot guarantee the security of your personal information and will not assume liability for improper access to it.  If you transmit your information using the wireless network provided by your network provider, we cannot ensure your information's privacy.</p>

<p>Additionally, you are responsible for maintaining the confidentiality of your own information and preventing unauthorized access to your account via your computer or mobile device.  You are also responsible for maintaining the accuracy of data stored on our Site. </p>

<h4>Links To Other Sites</h4>

<p>Our Site may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site and any personal information you submit is governed by that site’s privacy statements that will differ from the provisions on this Site.  RCI is not responsible for such provisions and expressly disclaims any and all liability related to such provisions.</p>

<p>The provision of any links on our Sites are for your convenience and do not imply any endorsement or association between RCI and the linked sites, unless such association is explicitly indicated on our Site.</p>

<p>We strongly advise you to review the Privacy Policy of every site you visit.</p>

<h4>Commitment to children's privacy</h4>

<p>
    Our Services are not intended for use by persons under the age of 13 and have not been structured to attract such an audience.  If you are made or become aware of a child below this age using our service, please email us at privacy@receiptclub.com and we will take all reasonable measures to remove the offending account. Additionally, we will not knowingly collect personal information for children under 13, and will immediately dispense of any account found to be in breach of this rule.
<p>

<h4>Information posted in public areas</h4>

<p>Our Sites include public areas where you may submit information.  Such areas include forums, feedback pages, community discussion boards and the like.  You should be aware that any information you provide in these areas is publically available and may be read, collected and used by others who access them.</p>
<p>Any ideas, comments, suggestions or information submitted via our Site can be used by RCI without permission or limitation as to its use.  RCI will not make payment of any kind for information so used from its Site.</p>

<h4>Changes we make to this policy</h4>

<p>RCI may update this Privacy Policy from time to time. The most current version of this policy will govern our use of your information and will always be available at: <a href="http://www.receiptclub.com/privacy">http://www.receiptclub.com/privacy</a>.   We will notify you of any changes by posting the new Privacy Policy on the Site.   We will indicate the date of the change by including the update date after “Last Modified” at the beginning of this privacy policy. We encourage you to review this Privacy Policy periodically for any changes.</p>
<p>By using or continuing to use the Services you agree to be bound to the Privacy Policy.  After any changes become effective, you agree to be bound to the revised Privacy Policy.</p>

<h4>How to contact us</h4>

<p>If you have any questions, comments or queries relating to this privacy policy please contact us by clicking here or send an email to <a href="mailto:privacy@receiptclub.com">privacy@receiptclub.com</a></p>