<div ng-include src="'views/_header.html'"></div>
<div id="home-container">
    <div id="wrap-logo">
        <div id="home-logo">
            <a href="#!" show-page="home-page-wrapper" layout="landing"></a>
        </div>
    </div>
    <div class="box-success" id="user-register-success-form">
        <h2 class="success-title">WELCOME TO RECEIPTCLUB</h2>
        <hr>
        <form class="form-horizontal">
            <div class="control-group">
                <p>Congratulations! Your account has been registered with ReceiptClub.
                    Please activate your account by following the link in our confirmation email that was sent to the email
                    address you used to register.<br>
                Thank you for joining us!</p>
                <p>The ReceiptClub Team</p>
                <p class="text-center">
                    <a href="#!" class="btn-ok-success">OK</a>
                </p>
            </div>
        </form>
    </div>
</div>
<div ng-include src="'views/_footer.html'"></div>